@tailwind base;
@tailwind components;
@tailwind utilities;

/* PLACEHOLDER; TODO: change with Futura, Avenir */
@layer base {
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Roboto.woff2) format('woff2');
    }
}

/* ALL OTHER */
h1, h2, h3 {
    @apply font-['Futura'] text-slate-800;
}

h4, h5, p, label {
    @apply font-['Avenir'] text-slate-500;
}

/* TODO : fix (I just know this isnt the proper implementation of this) */
h2  { @apply text-xl }
h3  { @apply text-lg }
h4  { @apply text-lg }
p   { @apply text-lg }

h6 {
    @apply text-xs font-['JetBrains_Mono_NL'];
}

p {
    @apply text-justify;
}

page {
    @apply flex flex-col gap-4 h-[calc(100vh-4rem)] py-2;
}

section {
    @apply bg-white p-4 rounded-md shadow-sm;
}

a.nav {
    @apply hover:text-sky-400 transition ease-out;
}

input.input_text_sm {
    @apply block w-full font-['Avenir'] rounded-sm border-0 text-slate-700 ring-1 ring-inset ring-slate-300 px-1 placeholder:text-gray-400;
    /* @apply focus:ring-2 focus:ring-indigo-600; */
}