@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply bg-slate-200 font-sans;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;

        body::before {
            content: '';
            position: absolute;
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            /* 
            background-image: url("");
            background-size: auto;  
            background-repeat: repeat;
            opacity: 0.03;
            z-index: -1;
            */
        }

        /* ALL OTHER */
        h1, h2, h3 {
            @apply font-heading text-slate-800;
        }

        h4, h5, p, label {
            @apply font-sans text-slate-500;
        }

        h6 {
            @apply font-mono tracking-tight;
        }

        /* TODO : fix (I just know this isnt the proper implementation of this) */
        h2  { @apply text-xl }
        h3  { @apply text-lg }
        h4  { @apply text-lg }
        h6  { @apply text-xs }
        p   { @apply text-base }
    }
}

@layer components {
    page {
        @apply flex flex-col gap-4 h-[calc(100vh-4rem)];
    }
    section {
        @apply bg-white p-4 rounded-md shadow-sm grow;
    }
    jumpable {
        @apply h-12 -mt-16 -z-50;
    }
}

@layer utilities {
    
}