h1, h2, h3 {
    font-family: "Futura";
    font-weight: normal;
    color: #0f172a;
}

h4, h5, p {
    font-family: "Avenir";
    color: #64748b;
}


/*
h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
*/

section {
    background-color: white;   /* bg-white */
    margin-top: 1.25rem;       /* my-5 (my-5 applies to both top and bottom) */
    margin-bottom: 1.25rem;    /* my-5 */
    padding: 1.25rem;          /* p-5 */
    border-radius: 0.75rem;    /* rounded-xl */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
}

article {
    background-color: #f1f5f9; /* bg-slate-100 */
    margin-top: 0.75rem;        /* my-2 (my-2 applies to both top and bottom) */
    /* margin-bottom: 0.75rem; */
    padding-top: 0.75rem;          /* p-3 */
    padding-bottom: 0.75rem;          /* p-3 */
    padding-left: 1rem;          /* p-3 */
    padding-right: 1rem;          /* p-3 */
    border-radius: 0.5rem;     /* rounded-lg */
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); shadow-md */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */

    text-align: center;
}
  